<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button>
    
    <!-- GRID -->
    <ion-grid>
  <ion-row>
    <ion-col>
      This is the first of three columns. I want to see how spread out this table can go. This is not the widest column - it's the same width as the third column.  
    </ion-col>
    <ion-col col-8>
      This is the second of three columns. I want to see how spread out this table can go. Hopefully wider! I'm going to keep on typing nonsense just to see how the "table" looks when there's a lot of text.       This is the third column. I want to see how spread out this table can go. Hopefully wider! Maybe the widest! Wow let's see how wide this table can go with this cool ionic code. Oh just kidding - it's not the widest column. Same as the first. Still cool though.       This is the third column. I want to see how spread out this table can go. Hopefully wider! Maybe the widest! Wow let's see how wide this table can go with this cool ionic code. Oh just kidding - it's not the widest column. Same as the first. Still cool though. 
    </ion-col>
    <ion-col>
      This is the third column. I want to see how spread out this table can go. Hopefully wider! Maybe the widest! Wow let's see how wide this table can go with this cool ionic code. Oh just kidding - it's not the widest column. Same as the first. Still cool though. 
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      1 of 3
    </ion-col>
    <ion-col col-6>
      2 of 3 (wider)
    </ion-col>
    <ion-col>
      3 of 3
    </ion-col>
  </ion-row>
</ion-grid>
    
    
    
</ion-content>




